@model IEnumerable<EFarming.Models.Farm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.FarmId) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.FarmId) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.FarmId }) |
                @Html.ActionLink("Details", "Details", new {  id=item.FarmId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.FarmId })
            </td>
        </tr>
}
    </tbody>
</table>
