@model IEnumerable<EFarming.Models.IrrigationMode>

@{
    ViewData["Title"] = "Index";
    var irrigationMode = Model.FirstOrDefault();
}

<h1>Irrigation Modes</h1>

<p>
    <a asp-action="IrrigationMode" asp-route-id="@irrigationMode.Id" asp-route-mode="1" class="btn btn-sm btn-success">On</a>
     <a asp-action="IrrigationMode" asp-route-id="@irrigationMode.Id" asp-route-mode="2" class="btn btn-sm btn-danger">Off</a> 
    
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmZoneId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FarmZoneId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
